body {
    background-color: black;
}

canvas {
    background-image: url('./img/Water.png');
    background-repeat: repeat; /* Repeat the image */
    background-attachment: fixed; /* Make the background fixed */
    background-size: auto; /* Use the original size of the image */
    background-position: top left; /* Align to the top-left corner */
  }

@font-face {
    font-family: 'rpg';
    src: url('./Font/PressStart2P-Regular.ttf');
}